{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>${{ "{:.2f}".format(total) }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>name</td>
                <td>{{ row["sum(share)"] }}</td>
                <td>${{ row["price"] }}</td>
                <td>${{ "{:.2f}".format(row["total"]) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>${{ cash }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}